.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

.navElements {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}
